<launch>
  <!-- Args-->
  <!-- <arg name="map_file"     default="/home/robo/save_maps/0420.yaml"/> -->
  <!-- <arg name="map_file"     default="/home/robo/save_maps/mapname.yaml"/> -->
  <!-- <arg name="map_file"     default="/home/robo/save_maps/canon_modified.yaml"/> -->
  <!-- <arg name="map_file"     default="/home/robo/save_maps/gaepo_5.yaml"/> -->
  <arg name="map_file"     default="/home/robo/save_maps/gaepo_12.yaml"/>

  <!-- <arg name="map_file"     default="/home/robo/save_maps/0424_canon.yaml"/> -->

  <arg name="forward_only" default="true"/>
  <arg name="model"        default="ip200"/>

  <arg name="open_rviz"    default="true"/>
  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />

  <!-- AMCL -->
  <include file="$(find ip200_navigation)/launch/amcl.launch" />

  <!-- move_base -->
  <include file="$(find ip200_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="forward_only" value="$(arg forward_only)" />
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find ip200_navigation)/rviz/navigation.rviz" />
  </group>
</launch>
